<section class="search-bg">
  <div class="dashboard-container">
  <div class="sidebar" >
      <ul>
      <li><a routerLink="admininfo">Admin Profile </a></li>
      <li><a routerLink="policysearch">Policy Search</a></li>
      <li><a routerLink="policyreg">Policy Registration</a></li>
      <li><a routerLink="userdetails">User Details</a></li>
      <li><a routerLink="getuserpolicy">User Policies</a></li>
      </ul>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
</section>

  
