/* .search-bg
{
    background: linear-gradient(to right, #5000bb, #8e00cc);
    min-height: 90%;
} */

@media (min-width: 1025px) {
    .h-custom {
    height: 100vh!important;
    }
    }
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-white {
    background-color: #ffffff;
    }
    @media (min-width: 992px) {
    .card-registration-2 .bg-indigo {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }
    @media (max-width: 992px) {
    .card-registration-2 .bg-white {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }

.search-table
{
    background-color: white;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 25px;
}
.table
{
   text-align: center;
   font-family: sans-serif;

}
.button
{
    background: #5000bb; 
    color: rgb(255, 255, 255); 
    size: 20 px;
}
.container {
    margin-top: 15px;
  }
  
  .custom-select {
    margin-bottom: 15px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Optional: You can add additional styling to make it visually appealing */
  .custom-select:focus {
    outline: none;
    border-color: #007bff; /* Change the border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box-shadow on focus */
  }
  .small-cards .card {
    width: 200px; /* Set the width as per your preference */
    margin: 10px; /* Adjust the margin as needed */
  }
  
  .small-cards .card-body {
    padding: 10px; /* Adjust the padding as needed */
  }